html, body {
    margin: 0%;
    touch-action: manipulation;
}

#main {
    flex-direction: column;
    display: flex;
    height: 100vh;
}

#header {
    flex-direction: row;
    display: flex;
    height: 40px;
    background-color: rgb(0, 0, 0);
}

#dashboard-tab-label {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    display: inline-flex;
    align-items: center;
    color: white;
    text-align: center;
}

#dashboard-tab-active {
    flex: 1;
    background-color: rgb(29, 29, 29);
    position: relative;
    transition-duration: 0.5s;
}

#dashboard-tab-inactive {
    flex: 1;
    background-color: rgb(0, 0, 0);
    position: relative;
    cursor: pointer;
    transition-duration: 0.5s;
}

#dashboard-tab-inactive:hover:not(:has(#dashboard-tab-close:hover)) {
    background-color: rgb(80, 80, 80);
    transition-duration: 0.5s;
}

#dashboard-tab-close {
    width: 22px;
    height: 22px;
    top: 9px;
    right: 9px;
    padding: 0;
    background-color: transparent;
    color: white;
    position: absolute;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    transition-duration: 0.5s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#dashboard-tab-close:hover {
    background-color: rgb(80, 80, 80);
    transition-duration: 0.5s;
}

#dashboard {
    position: absolute;
    height: calc(100% - 40px);
    width: 100%;
    background-color: rgb(29, 29, 29);
    top: 40px;
    left: 0px;
}

#dashboard-add-parent {
    width: 40px;
    order: 100;
    background-color: rgb(0, 0, 0);
}

#dashboard-add-button {
    width: 22px;
    height: 22px;
    top: 9px;
    right: 9px;
    padding: 0;
    background-color: transparent;
    color: white;
    position: absolute;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    transition-duration: 0.5s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#dashboard-add-button:hover {
    background-color: rgb(80, 80, 80);
    transition-duration: 0.5s;
}

#widget {
    background-color: white;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    overflow: hidden
}

#widget-header {
    width: 100%;
    height: 20px;
    background-color: red;
}