:root {
    --white-hover: rgb(200, 200, 200);
    --white-press: rgb(175, 175, 175);
    --dashboard-color: rgb(29, 29, 29);
    --dashboard-hover: rgb(80, 80, 80);
    --accent-color: rgb(71, 40, 155);
    --accent-color-hover: rgb(100, 69, 184);
    --accent-color-press: rgb(120, 89, 204);
    --cancel-color: rgb(231, 76, 60);
    --cancel-color-hover: rgb(192, 57, 43);
    --cancel-color-press: rgb(179, 54, 41);
    --ui-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    --transition-duration: 0.5s;
    --z-index-toolbar: calc(2147483647 - 100);
    --z-index-dialog: calc(2147483647 - 50);
}

html, body {
    margin: 0%;
    touch-action: manipulation;
    overflow: hidden;
}

h1, h2, p {
    color: black;
}

textarea {
    width: 100%;
    height: 300px;
    resize: vertical;
}

#main {
    flex-direction: column;
    display: flex;
    height: 100vh;
}

#header {
    flex-direction: row;
    display: flex;
    height: 40px;
    background-color: black;
}

#login-box {
    z-index: var(--z-index-toolbar);
    background-color: white;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: calc(50% - (300px / 2));
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-text {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

#toolbar {
    z-index: var(--z-index-toolbar);
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden
}

#toolbar-button {
    border: none;
    outline: none;
    color: black;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    cursor: pointer;
    transition-duration: var(--transition-duration);
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

#toolbar-button:hover {
    transition-duration: var(--transition-duration);
    background-color: var(--white-hover);
}

#toolbar-button:active {
    transition-duration: var(--transition-duration);
    background-color: var(--white-press);
}

#dashboard-tab-label {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    display: inline-flex;
    align-items: center;
    color: white;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

#dashboard-tab-active {
    flex: 1;
    background-color: var(--dashboard-color);
    position: relative;
    transition-duration: var(--transition-duration);
}

#dashboard-tab-inactive {
    flex: 1;
    background-color: black;
    position: relative;
    cursor: pointer;
    transition-duration: var(--transition-duration);
}

#dashboard-tab-inactive:hover:not(:has(#dashboard-tab-close:hover)) {
    background-color: var(--dashboard-hover);
    transition-duration: var(--transition-duration);
}

#dashboard-tab-close, #dashboard-add-button {
    width: 30px;
    height: 30px;
    font-size: 28px;
    top: 5px;
    right: 5px;
    padding: 0;
    background-color: transparent;
    color: white;
    position: absolute;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    text-align: center;
    transition-duration: var(--transition-duration);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#dashboard-tab-close:hover, #dashboard-add-button:hover {
    background-color: var(--dashboard-hover);
    transition-duration: var(--transition-duration);
}

#dashboard {
    position: absolute;
    height: calc(100% - 40px);
    width: 100%;
    background-color: var(--dashboard-color);
    top: 40px;
    left: 0px;
}

#dashboard-add-parent {
    width: 40px;
    order: 100;
    background-color: black;
}

#widget-add-button {
    margin: 5px;
    border: none;
    outline: black solid 2px;
    width: auto;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    font-size: large;
    transition-duration: var(--transition-duration);
    user-select: none;
    -webkit-user-select: none;
}

#widget-add-button:hover {
    transition-duration: var(--transition-duration);
    background-color: var(--white-hover);
}

#widget-add-button:active {
    transition-duration: var(--transition-duration);
    background-color: var(--white-press);
}

#widget {
    width: fit-content;
    height: fit-content;
    position: absolute;
}

#widget-content {
    background-color: white;
    width: fit-content;
    height: fit-content;
    min-width: 50px;
    min-height: 50px;
    border-radius: 20px;
    overflow: hidden;
}

#widget-delete-button, #widget-settings-button {
    position: absolute;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    transition-duration: var(--transition-duration);
    cursor: pointer;
}

#widget-delete-button:hover, #widget-settings-button:hover {
    background-color: var(--white-hover);
    transition-duration: var(--transition-duration);
}

#widget-delete-button:active, #widget-settings-button:active {
    background-color: var(--white-press);
    transition-duration: var(--transition-duration);
}

#widget-delete-button {
    right: -10px;
    top: -10px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
}

#widget-settings-button {
    left: -10px;
    top: -10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#dialog-background {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-dialog);
}

#dialog {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    top: 100px;
    left: calc(50% - (500px / 2));
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

#dialog-header {
    height: 60px;
    display: flex;
    flex-direction: row;
}

#dialog-title {
    flex: 1;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

#dialog-close {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#dialog-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: visible;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

#dialog-footer {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

#accent-button, #cancel-button {
    border: none;
    outline: none;
    background-color: var(--accent-color);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    font-size: medium;
    cursor: pointer;
    text-wrap: nowrap;
}

#accent-button:hover {
    background-color: var(--accent-color-hover);
}

#accent-button:active {
    background-color: var(--accent-color-press);
}

#cancel-button {
    background-color: var(--cancel-color);
    color: white;
}

#cancel-button:hover {
    background-color: var(--cancel-color-hover);
}

#cancel-button:active {
    background-color: var(--cancel-color-press);
}

#horizontal-form {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    flex-wrap: wrap;
}

#segmented-control, #selected-segmented-control {
    border: none;
    outline: 1px solid gray;
    background-color: white;
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 8px 15px 8px 15px;
    margin: 2px;
    font-size: medium;
    cursor: pointer;
    text-wrap: nowrap;
    border-radius: 10px;
}

#segmented-control:hover {
    background-color: var(--white-hover);
}

#segmented-control:active {
    background-color: var(--white-press);
}

#selected-segmented-control {
    background-color: var(--accent-color);
    color: white;
    cursor: default;
}

#collapsible-button, #collapsible-button-open {
    width: 100%;
    height: fit-content;
    padding: 10px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    font-size: medium;
    color: black;
    text-align: left;
}

#collapsible-button:hover, #collapsible-button-open:hover {
    background-color: var(--white-hover);
}

#collapsible-button:after, #collapsible-button-open:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

#collapsible-button-open:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#collapsible-content {
    width: 100%;
    height: fit-content;
}

#list-ui-element {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    border: solid gray 1px;
    margin-top: -1px;
}

#list-ui-element-content {
    flex: 1;
    height: fit-content;
}

#diaper-type-filter {
    flex: 1;
    border: none;
    outline: none;
    height: auto;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    background-color: lightgray;
    color: black;
}

#diaper-type-filter-edit {
    background-color: white;
    height: 400px;
    width: 300px;
    padding: 10px;
    overflow-y: auto;
}

#form-inline-label {
    margin: 6px 6px;
}

#questionmark-tooltip {
    background-color: var(--accent-color);
    width: 25px;
    height: 25px;
    margin-left: 5px;
    border-radius: 50px;
    justify-content:center;
    display: flex;
    align-items: center;
    color: white;
    font-size: large;
    user-select: none;
    -webkit-user-select: none;
    align-self: center;
}

#spinner, #inactive-spinner {
    --spinner-margin: 15px;
    width: calc(100% - var(--spinner-margin) * 2);
    height: calc(100% - var(--spinner-margin) * 2);
    border: 3px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    top: var(--spinner-margin);
    left: var(--spinner-margin);
    transform: rotate(-140deg);
}

#spinner::after, #inactive-spinner::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 3px;
  top: 10px;
  border: 6px solid transparent;
  border-right-color: black;
  transform: rotate(-40deg);
}

#spinner {
    animation: rotation 1s linear infinite;
}

#inactive-spinner {
    animation: none;
}

@keyframes rotation {
    0% {
        transform: rotate(-140deg);
    }
    100% {
        transform: rotate(220deg);
    }
}

#horizontal-color-picker {
    height: 35px;
    width: 35px;
}

#coloris-button {
    width: 100%;
}

.coloris {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
}